/* Стили для заголовка */
header {
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для ссылки на главную страницу */
.main_a {
    display: block; /* Превращаем ссылку в блочный элемент */
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 20px; /* Отступ снизу */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    color: #333; /* Цвет текста */
    font-size: 20px
}

/* Стили для раздела формы */
section {
    max-width: 500px; /* Максимальная ширина раздела */
    margin: 0 auto; /* Центрируем раздел на странице */
}

/* Стили для формы */
form {
    display: flex; /* Используем flexbox для выравнивания элементов формы */
    flex-direction: column; /* Располагаем элементы вертикально */
}

/* Стили для меток (label) */
.label {
    font-weight: bold; /* Жирный шрифт */
    color: #333; /* Цвет текста */
    margin-bottom: 5px; /* Отступ снизу */
}

/* Стили для кнопки отправки */
button[type="submit"] {
    background-color: #007bff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Внутренние отступы */
    cursor: pointer; /* Изменяем курсор при наведении */
    margin-top: 20px; /* Отступ сверху */
}

/* Стили для кнопки отправки при наведении */
button[type="submit"]:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}
.error {color: red}

.captcha {
    max-width : 200;
    margin-bottom: 10px
}
h2 {
    font-size: 30px;
    color: #333; /* Цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
    text-align: center
}
.links-wrapper {

    display: flex; /* Располагаем элементы в строку */
    justify-content: space-between; /* Распределяем пространство между элементами */
    width: 300px; /* Ширина обертки (примерная) */
    margin: 0 auto; /* Центрируем обертку по горизонтали */
    font-size: 25px


}

/* Стили для ссылок */
a {

    color: #007bff; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    margin-top: 20px


}

/* Стили для ссылок при наведении */
a:hover {
    text-decoration: underline; /* Подчеркиваем ссылку при наведении */
}