{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты - Кофейня "Аромат утра"</title>
    <link rel="stylesheet" href="{% static 'main/css/contact.css' %}">
</head>
<body>
    <header>
        <h1>Контакты</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
        </ul>
    </nav>
    <section class="contact-section">
        <div class="contact-info">
            <h2>Свяжитесь с нами:</h2>
            <p>Адрес: ул. Пушкина, 10</p>
            <p>Телефон: 123-456-7890</p>
        </div>
    </section>
</body>
</html>